body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #333;
}

header {
  background: #0a3d62;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #f1f1f1;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background: #0a3d62;
  .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  display: block;
}
  color: white;
  text-align: center;
  padding: 10px;
}
